.nav-bar{
    border-radius: 5px;
    height:50px;
    width:auto;
    padding:15px;
    background-color: #749004;
    
}
div{
    color:crimson;
}
.p1 {
    margin:10px;
    
}
.p1:hover{
    background-color: rgb(198, 254, 88);
    cursor:e-resize;
    transform: scale(1.1);
}
.p2 {
    margin:10px;
}
.p2:hover{
    background-color: rgb(198, 254, 88);
    cursor:e-resize;
     transform: scale(1.1);
}
.p3 {
    margin:10px;
}
.p3:hover{
    background-color: rgb(198, 254, 88);
    cursor:e-resize;
    transform: scale(1.1);
}
.p4 {
    margin:10px;
}
.p4:hover{
    background-color: rgb(198, 254, 88);
    cursor:e-resize;
    transform: scale(1.1);
}

